.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

}

.card-set {
  display: flex;
  gap: 30px;
  list-style: none;
}

.card-set__item {
}
.card-set__tumb {
  position: relative;
}
.card-set__overlay {
  @include centering-flex;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}


