
.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;

  text-decoration: none;
  list-style: none;
}

.contact_link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: text(main-gray);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: $hover-blue;
  }
  transition: color 250ms $cubic;
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}