.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__address-box {
  margin-right: 67px;
}

.footer__address {
  font-style: normal;
}

/**
  |============================
  |    Contact
  |============================
*/

.footer-contact {
  list-style: none;
  margin-bottom: 10px;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contact__link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover,
  &:focus {
    color: #2196f3;
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link--color {
  color: #ffffff;
}
.contact__link {
}

/**
  |============================
  |     Social
  |============================
*/

.footer__social-box {
  margin-right: 96px;
}
.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/**
  |============================
  |    Form
  |============================
*/
.footer__form-box {
}

.form-footer {
  display: flex;
  gap: 11px;
}

.form-footer__field {
}
.form-footer__link {
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: #2196f3;
  }
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
