.footer {
  background-color: $bgd-footer;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__address-box {
  margin-right: 67px;
}

.footer__address {
  font-style: normal;
}

/**
  |============================
  |     Social
  |============================
*/

.footer__social-box {
  margin-right: 96px;
}
.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: text(other-white);
}

/**
  |============================
  |    Form
  |============================
*/
.footer__form-box {
}

.form-footer {
  display: flex;
  gap: 11px;
}

.form-footer__field {
}
.form-footer__link {
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  color: text(other-white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $hover-blue;
  }
  transition: border-color 250ms $cubic;
}
