.logo {
  display: inline-block;
  margin-right: 91px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  color: #000;
}
.logo__label {
  color: #2196f3;
}

.footer__logo {
  color: #fff;
  margin-bottom: 20px;
}
