.page-header {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: #fff;
  border-bottom: 1px solid #ececec;
  z-index: 2;
}

.page-header__container {
  height: 80px;
  display: flex;
}
.page-header__nav {
  display: flex;
  align-items: center;
}