.section--features {
  padding-bottom: 0;
}

.features {
  list-style: none;
  flex-basis: calc((100% - 30px * 3) / 4);
}
.features__icon-bgd {
  @include centering-flex;
  height: 120px;
  margin-bottom: 30px;

  background: btn(bgd-filter);
  border-radius: 4px;
}

.features__icon {
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: text(titel-black);
}
.features__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
