.client {
  max-width: 170px;
  height: 92px;
}

.client__link {
  @include centering-flex;
  padding: 16px 32px;
  width: 100%;
  height: 100%;

  border: 1px solid icon(fill-gray);
  border-radius: 4px;
  color: icon(fill-gray);

  &:hover,
  &:focus {
    border-color: $hover-blue;
    color: $hover-blue;
  }
  transition: color 250ms $cubic, border-color 250ms $cubic;
}
.client__icon {
  fill: currentColor;
}
